.three-column-layout {
  display: flex;
}

.top-container {
  display: flex;
}

.navigation-wrapper {
  display: flex;
}

.nav-left {
  display: flex;
  color: red;
}

.nav-left .a {
  display: flex;
}

.nav-right {
}
